* 
{
    box-sizing: border-box;
}

.container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr; */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding-bottom: 5px;
}

body
{
    background: linear-gradient(white, rgb(255, 155, 119) );
}

.container > div
{
    color: brown;
    text-align: center;
    width: 100%;
}

/* table
{
    width: 100%;
} */

table, th, td
{
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}    

tr
{
    border: 1px solid black;
}

td
{
    background-color: antiquewhite;
}

h1 h2
{
    text-align: center;
}

.EG th
{
    background: linear-gradient(rgb(130, 196, 31), rgb(43, 156, 43) );
}

.AC th 
{
    background: linear-gradient(lightskyblue, azure ) ;
}

.GE th
{
    color: white;
    background: linear-gradient(chocolate, brown);
}

.CL
{
    /* background: linear-gradient(grey, silver); */
    /* display: inline-block; */
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background: linear-gradient(grey, silver);

}

input
{
    height: 2.5rem;
    width: 150px;
    font-size: 1.5rem;
    color: blue;
    margin: 3px 0px; 
    text-align: center
}

#fuelRestant20k #fuelRestant30k1 #fuelRestant30k2 #fuelRestant60k
{
    font-size: 1rem;
    color: blue;
}

/* .row::after 
{
    content: "";
    clear: both;
    display: table;
} */
  
[class*="col-"] 
{
    float: left;
    
}

/* For tablets: */
@media only screen and (min-width: 300px) 
{
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 500px)
{
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/* For mobile phone: */
@media only screen and (min-width: 250px)
{
.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}
}

.box
{
    border: 1px solid red;
    background-color: grey;
}