* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 0;
    margin: 0;
}
.col-1 {
    width: 100%;
}
body{
    background: linear-gradient(white, rgb(255, 155, 119) );

}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="col-"] {
    width: 100%;
   }
    }
section{
    color: brown;
    text-align: center;
}
table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}    

tr{
    border: 1px solid black;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
table {
    border-radius: 5px;
}
.EG th{
    background: linear-gradient(rgb(130, 196, 31), rgb(43, 156, 43) );
}
.AC th {
    background: linear-gradient(lightskyblue, azure ) ;
}
.GE th {
    color: white;
    background: linear-gradient(chocolate, brown);
}
.CL th{
    background: linear-gradient(grey, silver);
}
td{
    background-color: antiquewhite;
}
